.card, .card-body{
    -webkit-display: flex;
       -moz-display: flex;
        -ms-display: flex;
         -o-display: flex;
            display: flex;
    flex-direction: column;
}

.card{
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    background-color: #252527;
}

    .card *{
        color: #bdbdbd;
    }

    .card-image{
        max-width: 100%;
        max-height: 200px;
        width: 100%;
        height: 200px;
        border-radius: inherit;
    }

    .card-body, .card-stats{
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
        list-style-type: none;
    }

/**********************************************************************Mobile Layout**********/
@media only screen and (min-width: 320px){

    .card{
        width: 85vw;
    }

    .card-squad .card-image{
        background-color: #ffffff;
    }

}

/**********************************************************************Tablet Layout**********/
@media only screen and (min-width: 768px){

    .card{
        width: initial;
    }

}

/**********************************************************************Laptop, Desktop & Large Screen Layout**********/
@media only screen and (min-width: 1024px){}